.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.set{
    border: 1px solid rebeccapurple;
    padding:3px 0px;
}
#position{
    color:aqua
}
.card-img-top{
    
    height: 200px;
    border-radius: 50%;
}